<div class="home">
    <button routerLink="/employee-table">
        <mat-icon class="icon" style="font-size:2em;color: #fff;">keyboard_arrow_left</mat-icon><span style="font-size: 30px; font-weight:bold; padding-left:20px; color:#fff">EMPLOYEE-DETAILS</span>
    </button>
</div>
<div class="profile">

    
    <div class="profile__background" ngFor="let data is in employee-details">
        <div class="profile__background--blob">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350">
                <path d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111 
                c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,
                3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"/>

            </svg>
            <img class="profile__background--blob--image" [src]= "data1.image"/>
            <div class="profile__background--blob--namefield"> {{empInd[0].name}}</div>
        </div>
    </div>

    <div class="profile__info">
        <div class="profile__info--title">
            <div><header>PROFILE</header></div>    
            <div style="padding-left: 40px;">
                <button (click)="openDialog()"  mat-mini-fab  aria-label="Example icon button with a menu icon">
                    <mat-icon >edit</mat-icon>
                </button>
            </div>
        </div>
        <table>
            <tbody>
                <tr>
                    <td>Identity Code</td>
                    <td>{{empInd[0].empID}}</td>
                </tr>
                <tr>
                    <td>Fullname</td>
                    <td>{{empInd[0].name}}</td>
                </tr>
                <tr>
                    <td>Date Of Birth</td>
                    <td>{{empInd[0].dob}}</td>
                </tr>
                <tr>
                    <td> Age</td>
                    <td>{{empInd[0].dob | dateOfBirth }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{empInd[0].gender}}</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>{{empInd[0].department}}</td>
                </tr>
                <tr>
                    <td>Year Of Experience</td>
                    <td>{{empInd[0].yr_of_exp}}</td>
                </tr>
                <tr>
                    <td>Year of Joining</td>
                    <td>{{empInd[0].yr_of_joining}}</td>
                </tr>
                <tr>
                    <td> <mat-icon>email</mat-icon></td>
                    <td>{{empInd[0].email}}</td>
                </tr>
                <tr>
                    <td>Contact Number</td>
                    <td>{{empInd[0].contact}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

