<section id= "slider">

  <!-- Start Slider Checked -->
  <input type= "radio" name="slider" id= "slide-1-radio" checked />
  <input type= "radio" name="slider" id= "slide-2-radio" />
  <input type= "radio" name="slider" id= "slide-3-radio" />
  <!-- End Slider Checked -->

  <!-- Start Slides -->
  <div class= "slides">
    <div  class= "slide">
      <div class="image">
        <img class="img" src="../../../assets/images/118.png" alt="">
      </div>
      <!-- <p></p>  -->
      <div class="content">
        <span [ngStyle]="{'padding-left':'70px'}">JOHN -</span>
          <span>Analyst</span>
          <p [ngStyle]="{'font-size':'20px','padding':'3em 0em','text-align':'start'}">" Not giving employees enough space between desks or
             trying to cram too many people into too small of
              a space will create instant friction. "</p>
      </div>
      <!-- <a href= "#"><img src= "http://res.cloudinary.com/hurricane10/image/upload/v1499938951/banner-2_gl3fir.jpg" alt="slide-1" /></a> -->
    </div>
    <div  class= "slide">
      <div class="image">
        <img class="img" src="../../../assets/images/121.png" alt="">
      </div>
      <div class="content">
      <span [ngStyle]="{'padding-left':'70px'}">ADAM -</span>
      <span>Developer</span>
      <p [ngStyle]="{'font-size':'20px', 'padding':'3em 0em', 'text-align':'start'}">" Space overlap is a huge problem for companies
        with shared facilities. Trying to use a conference
        room that’s already occupied disrupts work for both parties. "</p>  
      </div>    
    </div>
    <div  class= "slide">
      <div class="image">
        <img class="img"  src="../../../assets/images/128.png" alt="">
      </div>
      <div class="content">
      <span [ngStyle]="{'padding-left':'70px'}">HAZEL -</span>
      <span>Developer</span>
      <p [ngStyle]="{'font-size':'20px', 'padding':'3em 0em','text-align':'start'}">" Privacy areas, such as phone booths, are a great solution.
         Quiet workspaces, private meeting rooms, and discrete hot desks are
          all great options for those days when total focus is required and
           interruptions can't be tolerated."</p>
      </div>
    </div>
  </div>
  
  <div class="prev-arrow arrow">
    <label for= "slide-1-radio" id= "prev-1-arrow">
      <i class= "fa fa-arrow-left"></i>
    </label>
    <label for= "slide-2-radio" id= "prev-2-arrow">
      <i class= "fa fa-arrow-left"></i>
    </label>
    <label for= "slide-3-radio" id= "prev-3-arrow">
      <i class= "fa fa-arrow-left"></i>
    </label>
  </div>
  
  <div class="next-arrow arrow">
    <label for= "slide-1-radio" id= "next-1-arrow">
      <i class= "fa fa-arrow-right"></i>
    </label>
    <label for= "slide-2-radio" id= "next-2-arrow">
      <i class= "fa fa-arrow-right"></i>
    </label>
    <label for= "slide-3-radio" id= "next-3-arrow">
      <i class= "fa fa-arrow-right"></i>
    </label>
  </div>
</section>

