  <div class="slider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
  

    <div class="slider__inner">
      <div class="slider__inner--contents">
        <h2 [ngStyle]="{'color':'#fff' , 'font-size':'1.5em' , 'font-weight':'bold'}">-- Donald ( Analyst )</h2>
        <p class="slider__inner--contents--txt">"a company that inspires me, a product that I feel passionate about, a position that challenges me and 
          stretches me into different areas, management that encourages and empowers me to do my best and great work environment and team spirit."</p>
      </div>
      <div class="slider__inner--contents">
        <h2 [ngStyle]="{'color':'#fff' , 'font-size':'1.5em', 'font-weight':'bold'}" >-- Adam ( Development )</h2>
        <p class="slider__inner--contents--txt">"Having worked with big MNCs for over 6 years before moving to Jeavio, there was a lot of anxiety to work for
           a mid-sized privately held company, but Jeavio laid all my concerns to rest. I had not heard about Jeavio before joining,
            however, the first week into my job I realized that I am surrounded by capable, experienced & hardworking people."</p>
      </div>
      <div class="slider__inner--contents">
        <h2 [ngStyle]="{'color':'#fff' , 'font-size':'1.5em' , 'font-weight':'bold'}" >-- Vasan ( Tester )</h2>
        <p class="slider__inner--contents--txt">"The culture is transparent and every employee, irrespective of their position is given a chance to be heard,
           and there are ample opportunities available to those who want to build a career here. It is a young organization with a
            contemporary, innovative, and entrepreneurial approach that distinguishes it from its peers."</p>
      </div>
      <div class="slider__inner--contents">
        <h2 [ngStyle]="{'color':'#fff' , 'font-size':'1.5em' , 'font-weight':'bold'}">-- Douglas ( Developer )</h2>
        <p class="slider__inner--contents--txt">"It provides a very conducive environment to learn, grow and prosper. As a curious employee, I got the right 
          exposure as I had the opportunity to connect with learned colleagues, enthusiastic clients and start-up founders. The learning
           is great through practical experiences and the growth opportunities are good."</p>
      </div>
    </div>
  </div>