<div class="mainpage">
    <mat-toolbar class="toolbar" *ngIf="myService.isAuthenticate"  >
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">   
      <mat-icon>menu</mat-icon>
    </button>
   <span>My Dashboard</span>
   <span class="example-spacer"></span>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
  
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list class="listitems"role="list" *ngIf="myService.isAuthenticate" >
            <mat-list-item role="listitem"> <mat-icon>account_circle</mat-icon><span class="span"> Profile</span> </mat-list-item>
            <mat-list-item role="listitem">	<mat-icon>assignment</mat-icon><span class="span">Timesheet</span></mat-list-item>
            <mat-list-item role="listitem">	<mat-icon>announcement</mat-icon><span class="span">notices</span> </mat-list-item>
            <mat-list-item role="listitem">	<mat-icon>work_off</mat-icon><span class="span">Leave</span></mat-list-item>
            <mat-list-item role="listitem" routerLink="/line-chart" ><mat-icon>calendar_today</mat-icon><span class="span">Attendance</span></mat-list-item>
            <mat-list-item role="listitem" routerLink="/employee-table" ><mat-icon>person</mat-icon><span class="span">Employee details</span></mat-list-item>
            <mat-list-item role="listitem">	<mat-icon>delete</mat-icon><span class="span" (click)="logout()">Logout</span></mat-list-item>
        </mat-list>   
    </mat-drawer>
    <div>
      <mat-card class="main-content">
        <mat-card-content >
            <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card> 
    </div>
  </mat-drawer-container>
</div>

