::ng-deep app-line-chart{
    .home{
        background: #2C3E50;  
        background: -webkit-linear-gradient(to right, #569bc9, #2C3E50); 
        background: linear-gradient(to right, #569bc9, #2C3E50); 
        height: 70px;
        button{
            background-color: transparent;
            border-style: none;
            margin: 1.5em;
            padding: 1em;
        }
        button:hover{
            border-radius: 50px;
            background-color: #dee1e4;
        }
    }
}
