::ng-deep app-employee-table{ 
  .home{
    background: #2C3E50;  
    background: -webkit-linear-gradient(to right, #569bc9, #2C3E50); 
    background: linear-gradient(to right, #569bc9, #2C3E50); 
    height: 70px;
    button{
        background-color: transparent;
        border-style: none;
        margin: 1.5em;
    }
    button:hover{
        border-radius: 50px;
        background-color: #2C3E50;
    }
}

  .employee-details{ 
    margin: 2em;

      &__table {
        overflow: auto;
        width: 100%;

        // .mat-form-field-label-wrapper{
        //   margin-left: 25px;
        // }
        .mat-form-field-appearance-outline .mat-form-field-infix {
          padding:5px 0px; 
        }

        th,td{
          padding: 0px 20px;
          background-color:	#FAF9F6;
          color: rgba(0, 0, 0, 0.952);
          border: 0.5px solid #358e9c;
          
          
        }
        .mat-checkbox-frame{
          border-color: #596d81;
        }
        // .mat-checkbox-inner-container-no-side-margin{
        //   background-color: #5b6f83 !important;
        // }
        &--firstTableHeader th{
          background: #358e9c;  
          color: #fff;
          font-size: 1.2em;
        }

        &--secondTableHeader th{
          background-color:			#51a8b6;
          font-size: 1.2em;
        }
      }
      
      &__table-paginator{
        background: #2C3E50;  
        background: -webkit-linear-gradient(to right, #569bc9, #2C3E50);  
        background: linear-gradient(to right, #569bc9, #2C3E50); ;
      }
      
    }  
  // .not-expanded {
  //   display: none;
  // }
    table {
     width: 100%;
    }
    
    tr.example-detail-row {
      height: 0;
    }
    
    tr.example-element-row:not(.example-expanded-row):hover {
      background: #777;
    }
    
    tr.example-element-row:not(.example-expanded-row):active {
      background: #efefef;
    }
    
    .example-element-row td {
      border-bottom-width: 0;
    }
    
    .example-element-detail {
      overflow: hidden;
      display: flex;
    }
    
    .example-element-diagram {
      min-width: 80px;
      border: 2px solid black;
      padding: 8px;
      font-weight: lighter;
      margin: 8px 0;
      height: 104px;
    }
    
    .example-element-symbol {
      font-weight: bold;
      font-size: 40px;
      line-height: normal;
    }
    
    .example-element-description {
      padding: 16px;
    }
    
    .example-element-description-attribution {
      opacity: 0.5;
    }
    
    .inner-table {
      width: 100%;
    }
    
    .inner-table mat-form-field {
      margin-top: -15px;
      width: 100%;
    }
  }
    






